<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>

<body> 
                <h1>Register</h1>
                <partial name="RegistrationPartial"></partial>
          
                <h1>Login</h1>
                <partial name="LoginPartial"></partial>
           
</body>

</html>