<div>
    <span><a href="/logout">Logout</a></s></span> 
    <span><a href="/Dashboard">Dashboard</a></s></span> 
    <title>Reservation</title>
  
    <h1>@ViewBag.SpecificReservation.EventType </h1>
    <div>
        <h3>Date: @ViewBag.SpecificReservation.date.ToString("MMMM d, yyyy")</h3>
        <p>Description: @ViewBag.SpecificReservation.Description</p>
        <p>Address: @ViewBag.SpecificReservation.address</p>
    

    </div>
   
</div>